/* SCSS Variables */

// colors
$grey: #333;
$light-grey: #fafafa;
$white: #fff;
$lightblue: #b5d0e2;
$darkerblue: #2099e8;
$light-grey-border: #eee;
$light-color: #aaa;

// navigation colors
$nav-background: $grey;
